{% extends './base.html.twig' %}

{% block main %}
<div class="nav-space-checkout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="checkout-header">Checkout</h1>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-6 active">Product</th>
                            <th class="col-xs-3 active text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in products %}
                            <tr>
                                <th class="col-xs-6 checkout-product-name">{{ item.product.name }}</th>
                                <td class="col-xs-3">${{ item.product.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="col-xs-6 info">Total</th>
                            <td class="col-xs-3 info checkout-total">${{total}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <form action="" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51JkzOcLD2VW4wYkT6BEOwEk3x88YMimWDxd5TR66aYHPTRMc5wmyvpWKxKThtwMkB3vxUxQ3NFeLghkwAaamYAQY0008WRANkG"
                        data-amount="{{ total * 100 }}"
                        data-name="MY SHOP"
                        data-description="Widget"
                        data-image="{{ asset('images/logo.png') }}"
                        data-zip-code="true"
                        data-locale="auto">
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

