{% extends './base.html.twig' %}

{% block main %}
	<!--Shopping Cart Area Strat-->
	{% if cart|length == 0 %}
		<h2>
			No items added...</h2>
	{% else %}
		<div
			class="Shopping-cart-area pt-60 pb-60">
			{# added product items #}
			<div class="container">
				<div class="row">
					<div class="col-12">
						<form action="#">
							<div class="table-content table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="li-product-remove">remove</th>
											<th class="li-product-thumbnail">images</th>
											<th class="cart-product-name">Product</th>
											<th class="li-product-price">Unit Price</th>
											<th class="li-product-quantity">Quantity</th>
											<th class="li-product-subtotal">Total</th>
										</tr>
									</thead>
									<tbody>
										{% for item in productsCart %}
											<tr>
												<td class="li-product-remove">
													<a
														href="{{path('cart_remove',{'id':item.product.id})}}">
														<large>
															<i class="fa fa-trash"></i>
														</large>
													</a>
												</td>
												<td class="li-product-thumbnail">
													<a href="#"><img src="{{asset(item.product.thumb)}}" alt="product image" style="width:25%;"></a>
												</td>
												<td class="li-product-name">
													<a href="#">{{item.product.name}}</a>
												</td>
												<td class="li-product-price">
													<span class="amount">${{item.product.price}}</span>
												</td>
												<td class="li-product-price">													
														{{item.quantity}}		
												</td>
												<td class="product-subtotal">
												{% set subtotal = item.product.price * item.quantity %}
													<span class="amount">${{subtotal}}</span>
												</td>
											</tr>
										{% endfor %}
									</tbody>

								</table>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="coupon-all">
										<div class="coupon">
											<input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
											<input class="button" name="apply_coupon" value="Apply coupon" type="submit">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5 ml-auto">
									<div class="cart-page-total">
										<h2>Cart totals</h2>
										<ul>
											<li>Subtotal
												<span>${{total}}</span>
											</li>
											<li>Total
												<span>${{total}}</span>
											</li>
										</ul>
										<a href="{{path('stripe-checkout')}}">Proceed to checkout</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
		{# added product area ends #}
		<!--Shopping Cart Area End-->
	{% endblock %}
